:root{
	--bgColor: #3a0ca3;	
	--moduleColor: #4361ee;
	--hlColor: #7209b7;
	--moduleRadius: 15px
}

body{
	margin: 0px;
	width: 100vw;
	height: 100vh;
}

.Login{
	width: 100vw;
	height: 100vh;
	background-color: var(--bgColor);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	.loginForm{
		background-color: var(--moduleColor);
		width: 35vw;
		height: 50vh;
		padding: 30px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		border-radius: var(--moduleRadius);
	}
}